
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
tests/assets-section/*
!tests/assets-section/
tests/discover-section/*
!tests/discover-section/
tests/do-more/*
!tests/do-more/
tests/first-steps/*
!tests/first-steps/
tests/perps-section/*
!tests/perps-section/
tests/token-page/*
!tests/token-page/
tests/user-settings/*
!tests/user-settings/
test/wallet-information/*
!test/wallet-information/